    .body {background-color: #bbb5f4;}

    .text {background-color: #aad78f;
        margin-top: 25px;
        line-height: 20px;
        color: #242a4d;
        font-size: larger;
        font-weight: bolder;
        padding-block: 5px;
        padding-inline: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 10px;
    }

    .body__article {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 25px;
        padding-block: 5px;
        text-align: center;
        background-color: #aad78f;
        color: #242a4d;
        display: table;
        margin-left: auto;
        margin-right: auto;
        position: center;
        box-shadow: 4px 3px rebeccapurple;
        border-radius: 10px;
    }

    .body__frame {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background: purple;
        display: table;
        margin: 25px auto;
        position: center;
        color: yellow;
        border-style: solid;
        border-radius: 10px;
        border-width: 10px;
        border-color: black;
        box-shadow: 4px 3px rebeccapurple;
        text-transform: capitalize;
    }

    .body__aside {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 25px;
        text-align:right;
        font-weight: bold;
        color:#552870;
    }

    .menu {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color:purple;
        color:yellow;
    }

    #cat pre {
        color:pink
    }


